@import 'variables';

.toast {
    .toast-header {
        i.fas {
            margin-right: 10px;
        }
    }

    &.success {
        .toast-header {
            background-color: lighten($success, 40);
        }
    }

    &.info {
        .toast-header {
            background-color: lighten($info, 40);
        }
    }

    &.warning {
        .toast-header {
            background-color: lighten($warning, 30);
        }
    } 

    &.error {
        .toast-header {
            background-color: lighten($error, 35);
        }

    }  
}